<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Guest</mat-label>
        <mat-select formControlName="guestId">
          <mat-option [value]="guest.id" *ngFor="let guest of guests$ | async">
            {{ guest.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Room</mat-label>
        <mat-select formControlName="roomId">
          <mat-option [value]="room.id" *ngFor="let room of rooms$ | async">
            {{ room.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Check-in date</mat-label>
        <input
          matInput
          [matDatepicker]="checkin"
          formControlName="checkinDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="checkin"
        ></mat-datepicker-toggle>
        <mat-datepicker #checkin></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Check-out date</mat-label>
        <input
          matInput
          [matDatepicker]="checkout"
          formControlName="checkoutDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="checkout"
        ></mat-datepicker-toggle>
        <mat-datepicker #checkout></mat-datepicker>
      </mat-form-field>

      <br />
      <div class="button-wrapper">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
